* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.caixa-superior {
    background-image: url("./Dev.png");
    background-size: cover;
    height: 90vh;
}
.titulo-cabecalho {
    font-size: 24px;
    color:#ffffff;
    display: inline;
}
.link-cabecalho {
    font-size: 14px;
    color:#ffffff;
    display: inline;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
}
.cabecalho {
    padding-top: 20px;
    padding-left: 35px;
}
h1 {
    font-size: 58px;
    color: #ffffff;
    position: relative;
    top: 350px;
    margin-left: 20px;
}
form {
   
    opacity: 0;
    transition: opacity 1s linear;
    background-color: #ffffff;
    border-radius: 10px;
    float: right;
    padding: 20px;
    margin-right: 30px;
    position: relative;
    bottom: 70px;
  
}
.mostrar-formulario {
    opacity: 1;

}

input {
    display: block;
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 5px;
}
textarea {
    display: block;
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    width: 250px;
    height: 80px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-top: 5px;
}
.titulo-formulario {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}
label {
    font-size: 14px;
    color:black;

}
button {
    width: 250px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #40bb15;
    color:#ffffff;
}

.caixa-central  {
    display: flex;
    justify-content: space-evenly;

}

#titulo-meio{
    font-size: 40px;
    color: #000000;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.card {
    width: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    
}
.titulo-card {
    background: rgb(50, 80, 20);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}
ul {
    padding: 20px;
}
li {
    margin-bottom: 5px;
    margin-left: 10px;
}
.caixa-inferior {
    background-color: rgb(2, 2, 131);
    margin-top: 10px;
}
#titulo-inferior{
    font-size: 40px;
    color:#ffffff;
    text-align: center;
    padding-top: 20px;
}
.paragrafo {
    font-size: 18px;
    color:white;
    padding: 20px 50px 50px 50px;
    text-align: justify;
}
